blinker==1.4
docutils==0.14
feedgenerator==1.9
invoke==1.2.0
Jinja2==2.10.1
Markdown==3.1
MarkupSafe==1.0
pelican==4.0.1
Pygments==2.3.1
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
Unidecode==1.0.22
